[submodule "web"]
	path = web
	url = https://github.com/SonicRay241/project-omega-web.git
[submodule "ai-server"]
	path = ai-server
	url = https://github.com/SonicRay241/project-omega-ai.git
[submodule "consumer-server"]
	path = consumer-server
	url = https://github.com/SonicRay241/omega-consumer.git
